/*** Font setting ***/
@font-face {
  font-family: "Montserrat";
  src: url('../../fonts/montserrat-regular.ttf') format('truetype');
}
@font-face {
  font-family: "Montserrat";
  src: url('../../fonts/montserrat-light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url('../../fonts/montserrat-bold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url('../../fonts/montserrat-black.ttf') format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: "Noto Serif Telugu";
  src: url('../../fonts/noto-serif-telugu-bold.ttf') format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: "Noto Serif Telugu";
  src: url('../../fonts/noto-serif-telugu-medium.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: "Noto Serif Telugu";
  src: url('../../fonts/noto-serif-telugu-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Nokora';
  src: url('../../fonts/nokora-black.ttf') format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: 'Nokora';
  src: url('../../fonts/nokora-bold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Nokora';
  src: url('../../fonts/nokora-regular.ttf') format('truetype');
}
